
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.feature.bye">

    <application>

        <activity
            android:name=".GoodbyeActivity"
            android:label="@string/title_activity_goodbye"
            android:theme="@style/AppTheme">

            <intent-filter android:order="1"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="martinachov.github.io" />
                <data android:pathPrefix="/goodbye" />

            </intent-filter>

        </activity>
    </application>

</manifest>
